class Solution:
    
    def checkIsAP(self, arr, n):
        l=[]
        arr.sort()
        for i in range(len(arr)-1):
            a=arr[i+1]-arr[i]
            l.append(a)
        l=set(l)
        if len(l)==1:
            return 1
        elif len(l)>1:
            return 0
        
